@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  *,*:focus,*:hover{
    outline:none;
}